<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibreWordle</title>
    <style>
        table {
            font-size: 20px;
            text-align: center;
            table-layout: fixed;
            border-collapse: collapse;
            
        }

        .boardDiv {
            margin-left: auto;
            margin-right: auto;
        }

        .boardTable {
            margin-left: auto;
            margin-right: auto;
            aspect-ratio: 5/6;
            width: 20%;
            height: 24%;
        }
        
        .guessDiv {
            margin-left: auto;
            margin-right: auto;
        }

        .guessTable {
            margin-left: auto;
            margin-right: auto;
            width: 100px;
            height: 20px;
        }

        td {
            border: 1px solid black;
            aspect-ratio: 1/1;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
        }


    </style>
</head>
<body>
    <script type="text/javascript">var word = "<%= locals.word || 'WORDS' %>";</script>
    <script type="text/javascript" src="/public/index.js"></script>
    <div class="center">
        <div class="boardDiv">
            <table class="boardTable">
                <tr id="one">
                    <td class="one">W</td>
                    <td class="two">O</td>
                    <td class="three">R</td>
                    <td class="four">D</td>
                    <td class="five">S</td>
                </tr>
                <tr id="two">
                    <td class="one">W</td>
                    <td class="two">O</td>
                    <td class="three">R</td>
                    <td class="four">D</td>
                    <td class="five">S</td>
                </tr>
                <tr id="three">
                    <td class="one">W</td>
                    <td class="two">O</td>
                    <td class="three">R</td>
                    <td class="four">D</td>
                    <td class="five">S</td>
                </tr>
                <tr id="four">
                    <td class="one">W</td>
                    <td class="two">O</td>
                    <td class="three">R</td>
                    <td class="four">D</td>
                    <td class="five">S</td>
                </tr>
                <tr id="five">
                    <td class="one">W</td>
                    <td class="two">O</td>
                    <td class="three">R</td>
                    <td class="four">D</td>
                    <td class="five">S</td>
                </tr>
                <tr id="six">
                    <td class="one">W</td>
                    <td class="two">O</td>
                    <td class="three">R</td>
                    <td class="four">D</td>
                    <td class="five">S</td>
                </tr>
            </table>
        </div>
        <br>
        <div class="guessDiv">
            <table class="guessTable">
                <tr>
                    <td></td>
                    <td>O</td>
                    <td>R</td>
                    <td>D</td>
                    <td>S</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>